*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend+Giga:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&display=swap');
body{
    font-family: "Noto Sans", sans-serif;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90rem;
    padding: 0.75rem 1rem;
    margin: auto;
}
.left_container img {
    width: 7.5rem;
    height: 2.75rem;
}
.middle_container {
    position: relative;
    display: inline-flex; 
    align-items: center;
    width: 300px; 
    border: 1px solid #ddd;
    border-radius: 25px; 
    padding: 8px 15px; 
    background: #fff; 
}

.middle_container input{
    flex: 1;
    padding:0.5rem 0 ;
    border: none;
    outline: none;
}

.middle_container .fa-magnifying-glass {
    position: absolute;
    right: 15px; 
    color: #555;
    cursor: pointer;
}
.right_container, .user{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.right_container{
    gap: 2rem;
}
a{
    text-decoration: none;
}
.user{
    color: #000;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    gap: 0.5rem;
    font-size: 1rem;
    border: none;
    background: linear-gradient(to right, #3867d6 0%, #3867d6 50%, transparent 50%, transparent 100%);
    background-size: 200% 100%; 
    background-position: right bottom; 
    transition: background-position 1s ease;
    cursor: pointer;
} 
.user:hover {
  background-position: left bottom; 
  color: #fff;
}
.item{
    position: relative;
    top: -20px;
    left: -10px;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(228, 84, 84);
    color: #fff;
}
.section_container{
    width: 90rem;
    margin: 0 auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.card{
    display: flex;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
.card_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px;
    gap: 32px;
}
.f_start{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.stock{
    color: #27ae60;
}
.fa-trash:hover{
    color: rgb(126, 65, 65);
}
.inc_dec {
    display: flex;
    align-items: center;
    gap: 10px;
}

.inc_dec i {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.inc_dec i:hover {
    background-color: #ddd;
}

.item_inc_dec {
    min-width: 20px;
    text-align: center;
    font-weight: bold;
}
.check_out{
    width: 315px;
    padding: 20px;
    background-color: #ccc;
}
.span_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px dotted #000000af;
}
.check_out{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.card_img img {
    width: 200px;
}
.checkItOUt{
    font-weight: bold;
    font-size: 1.5rem;
}
.p1{
    font-weight: bold;
    padding-bottom: 0.5rem;
}
.p2{
    font-weight: 600;
    font-size: 1rem ;
    padding-bottom: 0.5rem;
}


