*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: serif;
}
/* navigation part start  */
.navigation_manu {
    width: 96.25rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0px;
}

/* logo part start  */
.Rokomari_logo img{
    width: 120px;
    height: 45px;
}
/* logo part end */

/* search and input field start  */
.search_field{
    width: 748px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: azure;
    border-radius: 30px;
    padding: 8px 20px 8px 16px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px;
}
/* search and input field end */

/* sign In start  */
.user_signIn a{
    display: flex;
    align-items: center;
    padding: 8px 16px;
    gap: 5px;
    width: 100px;
    height: 37px;
    text-decoration: none;
}

.user_signIn a:hover{
    background-color: rgb(72, 72, 228);
    color: aliceblue;
    border-radius: 15px;
}

/* cart icon start  */
#Increment_Number{
    padding: 3px 6px;
    color: #fff;
    background-color:red;
    border-radius: 50%;
    position: absolute;
    transform: translate(-20%,-70%);
}
.signIn_cartNum{
    display: flex;
    align-items: center;
    gap: 50px;
}

/* cart icon start  */

/* navigation part end */

/**
*? content container part start or cart 
**/
.items{
    width: 236px;
    height: auto; 
    border: 1px solid #000;
}
.cart_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.details {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px;
}
.price{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.buttons ,.price_discount {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}
.bi-dash-lg{
    color: red;
}
.bi-plus-lg {
    color: green;
}
.details h5{
    color: cadetblue;
}

